<stylesheet_link_tag%= stylesheet_link_tag "app/assets/stylesheets/application.css" %>
<body style="background-color: <%= @colour if @colour %>" >

<h1>Contact page</h1>
<h2>Contact us</h2>
<p>You can contact us via the following:</p>
<p>Fahrrad Straße 1, 60708 Berlin</p>
<p>+49 010 100 0101</p>
<p>bike.berlin@berlin.de</p>
</body>